.profile-popup__close{
  margin: 0;
  padding: 0;
  position: absolute;
  width: 32px;
  height: 32px;
  top: -40px;
  right: -40px;
  object-fit: cover;
  object-position: center;
  background-color: rgba(0, 0, 0, 0);
  border: 0px;
}
.profile-popup__close:hover{
  cursor: pointer;
  opacity: 0.6;
}
@media screen and (max-width: 425px) {
  .profile-popup__close{
    width: 20px;
    height: 20px;
    top: -36px;
    right: 0;
  }
}
