.element__delete{
  display: none;
  width: 18px;
  height: 19px;
  position: absolute;
  top: 20px;
  right: 20px;
  background-image: url(../../../images/Trash.svg);
  border: 0;
  background-color: transparent;
  background-position: center;
  cursor: pointer;
}
