.delete-photo-popup__container{
  display: flex;
  flex-direction: column;
  width: 430px;
  background: #FFFFFF;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  position: relative;
  padding-bottom: 37px;
}
@media screen and (max-width: 768px) {
  .delete-photo-popup__container {
    width: calc(100% - 50*2px);
  }
}
@media screen and (max-width: 470px) {
  .delete-photo-popup__container {
    width: 282px;
    padding-bottom: 0px;
  }
}
